

.voxgig-podmind {
    --vxg-c0l: #f2307a;
    --vxg-c0d: #CE0246;

    --vxg-c2l: #F6F4F9;
    --vxg-c2d: #BAB8BC;

    --vxg-c3d: #089EA5;
    --vxg-c3m: #00C6D8;
    --vxg-c3l: #11E5EF;

    --vxg-c4l: #0796D6;
    --vxg-c4d: #066189;


    
    width: 80%;
    margin: 5% auto;
    border: 1px solid var(--vxg-c2d);
    border-radius: 16px;
    padding: 16px;
    background-color: var(--vxg-c2l);
    font-family: tahoma;
}

.voxgig-podmind h3 {
    margin-top: 0;
    color: var(--vxg-c0d);
}

.voxgig-podmind form {
    margin: 0;
    display: flex;
    font-family: tahoma;
}

.voxgig-podmind input {
    padding: 8px;
    border-radius: 8px;
    font-size: 24px;
    display: block;
    flex-grow:2;
    margin-right: 16px;
    border: 1px solid var(--vxg-c4d);
    background-color: var(--vxg-c3d);
    color: var(--vxg-c2l);
    font-family: andale mono;
}

.voxgig-podmind input.thinking {
    animation: thinking 2s infinite;
    background: linear-gradient(to right, var(--vxg-c3d),var(--vxg-c2d), var(--vxg-c3d));
    background-size: 200% 100%;
}

.voxgig-podmind button {
    font-family: tahoma;
    padding: 8px;
    border-radius: 8px;
    font-size: 24px;
    display: block;
    border: 3px solid var(--vxg-c4d);
    color: var(--vxg-c4d);
    background-color: var(--vxg-c2l);
}

.voxgig-podmind button:hover {
    cursor: pointer;
    background-color: var(--vxg-c4l);
    color: var(--vxg-c2l);
}

.voxgig-podmind button:active {
    cursor: pointer;
    background-color: var(--vxg-c2l);
    color: var(--vxg-c4l);
}


.voxgig-podmind .audio button {
    margin-right: 4px;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    padding: 2px;
    width: 28px;
    border: 1px solid var(--vxg-c4d);
    border-radius: 4px;
}

@keyframes pulse {
    0% { opacity: 90%; transform: scale(1); }
    50% { opacity: 100%; transform: scale(1.2); }
    100% { opacity: 90%; transform: scale(1); }
}

.sound-symbol {
    display: inline-block;
    font-size: 20px;
    opacity: 0%;
}

.sound-symbol-playing {
    animation: pulse 1s infinite;
}

@keyframes thinking {
    0% {
        background-position: 100% 0;
    }
    50% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }

}
