.Public {
  margin: auto;
}

.Private {
  /* display: flex; */
  height: 100%;
  width: 100%;
}

.BasicAdmin {
  height: 100%;
  width: 100%;
}

/* .BasicSide * {
  xcolor: white !important;
  xbackground-color: rgb(var(--pdm-cb1));
} */

.BasicSide ul {
  height: 100vh;
}

.BasicMain {
  flex: 1;
  /* background-color: #eee; */
  padding-top: 4rem;
  height: calc(100% - 4rem);
}

/* .BasicSideMenuItem-itemDivider {
  width: 164px;
  margin-left: 12px !important;
} */

.BasicMain-container {
  overflow-y: auto;
}

.BasicLed {
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.Chat {
  padding: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.css-f2zdh9 {
  min-height: 69px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
